# Initial declearations for all files

In [1]:
import numpy as np
import pandas as pd
import matplotlib_inline as plot

# Reading files from data files of aqua water reserverired

In [2]:
cd acea-water-prediction-data

C:\Users\Safeer\My Drive\Git_Project\Water_prediction\Acea-Water-Prediction\acea-water-prediction-data

In [3]:
aq_auser_pd       = pd.read_csv('Aquifer_Auser.csv')
aq_Ddganella_pd   = pd.read_csv('Aquifer_Doganella.csv')
aq_luco_pd        = pd.read_csv('Aquifer_Luco.csv')
aq_petrignano_pd  = pd.read_csv('Aquifer_Petrignano.csv')
lake_bilancino_pd = pd.read_csv('Lake_Bilancino.csv')
riv_arno_pd       = pd.read_csv('River_Arno.csv')
spr_amiata_pd     = pd.read_csv('Water_Spring_Amiata.csv')
spr_lupa_pd       = pd.read_csv('Water_Spring_Lupa.csv')
spr_madonna_pd    = pd.read_csv('Water_Spring_Madonna_di_Canneto.csv')

# Data cleaning process

In [4]:
print (aq_auser_pd.info())
#print (aq_auser_pd.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Date                                     8154 non-null   object
 1   Rainfall_Gallicano                       5295 non-null   float64
 2   Rainfall_Pontetetto                      5295 non-null   float64
 3   Rainfall_Monte_Serra                     5289 non-null   float64
 4   Rainfall_Orentano                        5295 non-null   float64
 5   Rainfall_Borgo_a_Mozzano                 5295 non-null   float64
 6   Rainfall_Piaggione                       4930 non-null   float64
 7   Rainfall_Calavorno                       5295 non-null   float64
 8   Rainfall_Croce_Arcana                    5295 non-null   float64
 9   Rainfall_Tereglio_Coreglia_Antelminelli  5295 non-null   float64
 10  Rainfall_Fabbriche_di_Vallico            5295 non-null   float64
 11  Depth_to_Groundwater_LT2                 4802 non-null   float64
 12  Depth_to_Groundwater_SAL                 4545 non-null   float64
 13  Depth_to_Groundwater_PAG                 3807 non-null   float64
 14  Depth_to_Groundwater_CoS                 4315 non-null   float64
 15  Depth_to_Groundwater_DIEC                3270 non-null   float64
 16  Temperature_Orentano                     8154 non-null   float64
 17  Temperature_Monte_Serra                  8154 non-null   float64
 18  Temperature_Ponte_a_Moriano              8154 non-null   float64
 19  Temperature_Lucca_Orto_Botanico          8154 non-null   float64
 20  Volume_POL                               5660 non-null   float64
 21  Volume_CC1                               5660 non-null   float64
 22  Volume_CC2                               5660 non-null   float64
 23  Volume_CSA                               5660 non-null   float64
 24  Volume_CSAL                              5660 non-null   float64
 25  Hydrometry_Monte_S_Quirico               7241 non-null   float64
 26  Hydrometry_Piaggione                     6119 non-null   float64
dtypes: float64(26), object(1)
memory usage: 1.7+ MB
None

In [5]:
print (aq_Ddganella_pd.info())
#print (aq_Ddganella_pd.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6026 entries, 0 to 6025
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          6026 non-null   object
 1   Rainfall_Monteporzio          5399 non-null   float64
 2   Rainfall_Velletri             5374 non-null   float64
 3   Depth_to_Groundwater_Pozzo_1  2537 non-null   float64
 4   Depth_to_Groundwater_Pozzo_2  2736 non-null   float64
 5   Depth_to_Groundwater_Pozzo_3  2774 non-null   float64
 6   Depth_to_Groundwater_Pozzo_4  2374 non-null   float64
 7   Depth_to_Groundwater_Pozzo_5  2508 non-null   float64
 8   Depth_to_Groundwater_Pozzo_6  2428 non-null   float64
 9   Depth_to_Groundwater_Pozzo_7  2311 non-null   float64
 10  Depth_to_Groundwater_Pozzo_8  2551 non-null   float64
 11  Depth_to_Groundwater_Pozzo_9  2339 non-null   float64
 12  Volume_Pozzo_1                1356 non-null   float64
 13  Volume_Pozzo_2                1360 non-null   float64
 14  Volume_Pozzo_3                1360 non-null   float64
 15  Volume_Pozzo_4                1360 non-null   float64
 16  Volume_Pozzo_5+6              1360 non-null   float64
 17  Volume_Pozzo_7                1360 non-null   float64
 18  Volume_Pozzo_8                1360 non-null   float64
 19  Volume_Pozzo_9                1360 non-null   float64
 20  Temperature_Monteporzio       4564 non-null   float64
 21  Temperature_Velletri          4383 non-null   float64
dtypes: float64(21), object(1)
memory usage: 1.0+ MB
None

In [6]:
print (aq_luco_pd.info())
#print (aq_luco_pd.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7487 entries, 0 to 7486
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 7487 non-null   object
 1   Rainfall_Simignano                   6822 non-null   float64
 2   Rainfall_Siena_Poggio_al_Vento       951 non-null    float64
 3   Rainfall_Mensano                     1722 non-null   float64
 4   Rainfall_Montalcinello               6525 non-null   float64
 5   Rainfall_Monticiano_la_Pineta        2205 non-null   float64
 6   Rainfall_Sovicille                   6657 non-null   float64
 7   Rainfall_Ponte_Orgia                 1260 non-null   float64
 8   Rainfall_Scorgiano                   3036 non-null   float64
 9   Rainfall_Pentolina                   2116 non-null   float64
 10  Rainfall_Monteroni_Arbia_Biena       3104 non-null   float64
 11  Depth_to_Groundwater_Podere_Casetta  3346 non-null   float64
 12  Depth_to_Groundwater_Pozzo_1         1012 non-null   float64
 13  Depth_to_Groundwater_Pozzo_3         920 non-null    float64
 14  Depth_to_Groundwater_Pozzo_4         969 non-null    float64
 15  Temperature_Siena_Poggio_al_Vento    7487 non-null   float64
 16  Temperature_Mensano                  7487 non-null   float64
 17  Temperature_Pentolina                7487 non-null   float64
 18  Temperature_Monteroni_Arbia_Biena    7487 non-null   float64
 19  Volume_Pozzo_1                       2008 non-null   float64
 20  Volume_Pozzo_3                       2008 non-null   float64
 21  Volume_Pozzo_4                       2008 non-null   float64
dtypes: float64(21), object(1)
memory usage: 1.3+ MB
None

In [7]:
print (aq_petrignano_pd.info())
#print (aq_petrignano_pd.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5223 entries, 0 to 5222
Data columns (total 8 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  5223 non-null   object
 1   Rainfall_Bastia_Umbra                 4199 non-null   float64
 2   Depth_to_Groundwater_P24              5168 non-null   float64
 3   Depth_to_Groundwater_P25              5184 non-null   float64
 4   Temperature_Bastia_Umbra              4199 non-null   float64
 5   Temperature_Petrignano                4199 non-null   float64
 6   Volume_C10_Petrignano                 5025 non-null   float64
 7   Hydrometry_Fiume_Chiascio_Petrignano  4199 non-null   float64
dtypes: float64(7), object(1)
memory usage: 326.6+ KB
None

In [8]:
print (lake_bilancino_pd.info())
#print (lake_bilancino_pd.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603 entries, 0 to 6602
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  6603 non-null   object
 1   Rainfall_S_Piero      6026 non-null   float64
 2   Rainfall_Mangona      6026 non-null   float64
 3   Rainfall_S_Agata      6026 non-null   float64
 4   Rainfall_Cavallina    6026 non-null   float64
 5   Rainfall_Le_Croci     6026 non-null   float64
 6   Temperature_Le_Croci  6025 non-null   float64
 7   Lake_Level            6603 non-null   float64
 8   Flow_Rate             6582 non-null   float64
dtypes: float64(8), object(1)
memory usage: 464.4+ KB
None

In [9]:
print (riv_arno_pd.info())
#print (riv_arno_pd.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8217 entries, 0 to 8216
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8217 non-null   object
 1   Rainfall_Le_Croci          6026 non-null   float64
 2   Rainfall_Cavallina         6026 non-null   float64
 3   Rainfall_S_Agata           6026 non-null   float64
 4   Rainfall_Mangona           6026 non-null   float64
 5   Rainfall_S_Piero           6026 non-null   float64
 6   Rainfall_Vernio            4283 non-null   float64
 7   Rainfall_Stia              1283 non-null   float64
 8   Rainfall_Consuma           1283 non-null   float64
 9   Rainfall_Incisa            4568 non-null   float64
 10  Rainfall_Montevarchi       1647 non-null   float64
 11  Rainfall_S_Savino          1283 non-null   float64
 12  Rainfall_Laterina          1283 non-null   float64
 13  Rainfall_Bibbiena          2378 non-null   float64
 14  Rainfall_Camaldoli         1283 non-null   float64
 15  Temperature_Firenze        6192 non-null   float64
 16  Hydrometry_Nave_di_Rosano  8169 non-null   float64
dtypes: float64(16), object(1)
memory usage: 1.1+ MB
None

In [10]:
print (spr_amiata_pd.info())
#print (spr_amiata_pd.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7487 entries, 0 to 7486
Data columns (total 16 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   7487 non-null   object
 1   Rainfall_Castel_del_Piano              6291 non-null   float64
 2   Rainfall_Abbadia_S_Salvatore           3586 non-null   float64
 3   Rainfall_S_Fiora                       2633 non-null   float64
 4   Rainfall_Laghetto_Verde                2865 non-null   float64
 5   Rainfall_Vetta_Amiata                  2212 non-null   float64
 6   Depth_to_Groundwater_S_Fiora_8         3569 non-null   float64
 7   Depth_to_Groundwater_S_Fiora_11bis     3594 non-null   float64
 8   Depth_to_Groundwater_David_Lazzaretti  3242 non-null   float64
 9   Temperature_Abbadia_S_Salvatore        3583 non-null   float64
 10  Temperature_S_Fiora                    7487 non-null   float64
 11  Temperature_Laghetto_Verde             3604 non-null   float64
 12  Flow_Rate_Bugnano                      2008 non-null   float64
 13  Flow_Rate_Arbure                       2008 non-null   float64
 14  Flow_Rate_Ermicciolo                   2008 non-null   float64
 15  Flow_Rate_Galleria_Alta                2008 non-null   float64
dtypes: float64(15), object(1)
memory usage: 936.0+ KB
None

In [11]:
print (spr_lupa_pd.info())
#print (spr_lupa_pd.describe())

NameError: name 'spr_lupa_pd' is not defined

In [ ]:
print (spr_madonna_pd.info())
#print (spr_madonna_pd.describe())

In [ ]:
aq_auser_pd.tail(15)

In [ ]:

aq_auser_pd.plot.line(x = 'Date' , y = 'Rainfall_Gallicano' )